<p>
  <b>Nome:</b>
  <%= @cliente.nome %>
</p>

<p>
  <b>Apelido:</b>
  <%= @cliente.apelido %>
</p>

<p>
  <b>Endereco:</b>
  <%= @cliente.endereco %>
</p>

<p>
  <b>Bairro:</b>
  <%= @cliente.bairro %>
</p>

<p>
  <b>Complemento:</b>
  <%= @cliente.complemento %>
</p>

<p>
  <b>Cep:</b>
  <%= @cliente.cep %>
</p>

<p>
  <b>Cidade:</b>
  <%= @cliente.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @cliente.estado %>
</p>

<p>
  <b>Telefone:</b>
  <%= @cliente.telefone %>
</p>

<p>
  <b>Celular:</b>
  <%= @cliente.celular %>
</p>

<p>
  <b>Email:</b>
  <%= @cliente.email %>
</p>

<p>
  <b>Cpf:</b>
  <%= @cliente.cpf %>
</p>

<p>
  <b>Rg:</b>
  <%= @cliente.rg %>
</p>

<p>
  <b>Observacao:</b>
  <%= @cliente.observacao %>
</p>


<%= link_to 'Editar', edit_cliente_path(@cliente), :class => "btn btn-info" %>
<%= link_to 'Cancelar', clientes_path, :class => "btn btn-inverse" %>
