<h1>Ordens de Serviço</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>Código</th>
    <th>Cliente</th>
    <th>Previsão entrega</th>
    <th>Estado</th>
    <th>Ações</th>
    <th class="sem-borda-esquerda"></th>
  </tr>

<% @oss.each do |os| %>
  <tr>
    <td><%= os.id %></td>
    <td><%= os.cliente.nome %></td>
    <td><%= os.previsao_entrega.strftime('%d/%m/%Y') %></td>
    <td><%= Os::ESTADOS[os.estado] %></td>
    <td class="botao-acao primeiro-botao">
        <%= link_to func_os_path(os), :class => "btn btn-mini" do %>
        <i class="icon-eye-open"></i>
        <%= "Mostrar" %>
        <% end %>
    </td>
    <td class="botao-acao sem-borda-esquerda">
        <%= link_to edit_os_path(os), :class => "btn btn-info btn-mini" do %>
        <i class="icon-pencil icon-white"></i>
        <%= "Editar" %>
        <% end %>
    </td>
  </tr>
<% end %>
</table>
<div class="span12">
    <%= paginate @oss %>
</div>
<br />