<div class="row">
  <div class="span12 thumbnail os">
    <div class="page-header row">
      <h3 class="span10">Ordem de Serviço: <%= @os.id %></h3>
    </div>

    <div class="row">
      <p class="span4">
        <b>Data de Criação:</b>
        <%= @os.created_at.strftime('%d/%m/%Y') %>
      </p>
      
      <p class="span4">
        <b>Previsão de entrega:</b>
        <%= @os.previsao_entrega.strftime('%d/%m/%Y') %>
      </p>
      
      <p class="span4">
        <b>Data de entrega:</b>
        <%= @os.data_entrega.strftime('%d/%m/%Y') unless @os.data_entrega.nil?  %>
      </p>
    </div>

    <div class="row">
      <p class="span6">
        <b>Estado:</b>
        <%= Os::ESTADOS[@os.estado] %>
      </p> 
    </div>

    <p>
      <b>Observação:</b>
      <%= @os.observacao %>
    </p>

    <div class="row ">
      <div class="span12 cliente">
        <div class="row">
          <div class="span12">
            <p>
              <b>Cliente:</b>
              <%= @os.cliente.nome %>
            </p>  
            <p>
              <b>E-mail:</b>
              <%= @os.cliente.email %>
            </p> 
          </div> 
        </div>
        <div class="row">
          <div class="span6">
             <p>
              <b>Telfone:</b>
              <%= @os.cliente.telefone %>
            </p>
          </div>
          <div class="span5">
             <p>
              <b>Celular:</b>
              <%= @os.cliente.celular %>
            </p>
          </div>
        </div>
        
      </div>
    </div>


    <h4>Produtos</h4>

    <table class="table table-striped">
      <tr>
        <th>Quantidade</th>
        <th>Produto</th>
        <th>Altura</th>
        <th>Comprimento</th>
        <th>Descrição</th>
      </tr>
    <% @os.itens.each do |item| %>
      <tr>
        <td><%= item.quantidade %></td>
        <td><%= item.produto.nome %></td>
        <td><%= item.altura %></td>
        <td><%= item.comprimento %></td>
        <td><%= item.descricao %></td>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="span12 os thumbnail">
    <div class="page-header">
      <h4 class="span2">Anexos</h4>
      <%= simple_form_for(:anexar, :url => anexar_func_os_path(@os), :html => {:class => "form-inline", :multipart => true}) do |f| %>
        <div class="control-group select required os_layout span4">
            <div class="controls">
              <%= f.file_field :layout, :title => "Anexar Layout", :class => "btn-mini" %>
            </div>
        </div>
        
        <div class="control-group select required os_layout span5">
            <div class="controls">
              <%= f.file_field :arquivo, :title => "Anexar Arquivo", :class => "btn-mini" %>
            </div>
        </div>
        <%= f.button :submit, "Enviar", :class => "btn btn-info btn-mini" %>
      <% end %>
    </div>

    <table class="table table-striped">
      <tr>
        <th>Miniatura</th>
        <th>Tipo</th>
        <th>Extenção</th>
        <th>Tamanho</th>
        <th>Ações</th>
        <th></th>
      </tr>
      <% unless @os.rascunho.blank? %>
        <tr>
          <td><%= image_tag @os.rascunho.url(:thumb), :class => "img-ronded" %></td>
          <td>Rascunho</td>
          <td><%= Os::EXTENSIONS[@os.rascunho.content_type] %></td>
          <td><%= "#{(@os.rascunho.size.to_f/1024).round 2} kB" %></td>
          <td>
            <%= link_to "javascript:void(0)", :class => "btn btn-primary btn-mini", :onclick => "vizualizar('rascunho-img')" do %>
              <i class="icon-search icon-white"></i>
              <%= "Vizualizar" %>
            <% end %>
          </td>
          <td>
            <%= link_to "#{@os.rascunho.url}", :download => "rascunho", :class => "btn btn-inverse btn-mini" do %>
              <i class="icon-download-alt icon-white"></i>
              <%= "Download" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      
      <% unless @os.layout.blank? %>
        <tr>
          <td><%= image_tag @os.layout.url(:thumb), :class => "img-ronded" %></td>
          <td>Layout</td>
          <td><%= Os::EXTENSIONS[@os.layout.content_type] %></td>
          <td><%= "#{(@os.layout.size.to_f/1024).round 2} kB" %></td>
          <td>
            <%= link_to "javascript:void(0)", :class => "btn btn-primary btn-mini", :onclick => "vizualizar('layout-img')" do %>
              <i class="icon-search icon-white"></i>
              <%= "Vizualizar" %>
            <% end %>
          </td>
          <td>
            <%= link_to "#{@os.layout.url}", :download => "layout", :class => "btn btn-inverse btn-mini" do %>
              <i class="icon-download-alt icon-white"></i>
              <%= "Download" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      
      <% unless @os.arquivo.blank? %>
        <tr>
          <td><%= image_tag image_path('page.png') %></td>
          <td>Arquivo</td>
          <td><%= Os::EXTENSIONS[@os.arquivo.content_type] %></td>
          <td><%= "#{(@os.arquivo.size.to_f/1024).round 2} kB" %></td>
          <td>
          </td>
          <td>
            <%= link_to "#{@os.arquivo.url}", :download => "arquivo", :class => "btn btn-inverse btn-mini" do %>
              <i class="icon-download-alt icon-white"></i>
              <%= "Download" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <div id="canvas-img">
      <%= image_tag @os.rascunho.url(:medium), :id => "rascunho-img", :style => "display:none;" %>
      <%= image_tag @os.layout.url(:medium), :id => "layout-img", :style => "display:none;" %>
    </div>
  </div>
  

  <div class="span12 os thumbnail">
    <h4>Ações</h4>

    <table class="table table-striped">
      <tr>
        <th>Agente</th>
        <th>Ação</th>
        <th>Comentário</th>
        <th>Data</th>
      </tr>
    <% @os.acoes.each do |acao| %>
      <tr>
        <% unless acao.funcionario.nil? %>
          <td><%= "Func. #{acao.funcionario.nome}" %></td>
        <% else %>
          <td><%= "Cliente #{acao.cliente.nome}" %></td>
        <% end %>
        <td><%= Acao::ACOES[acao.acao] %></td>
        <td><%= acao.comentario %></td>
        <td><%= acao.created_at.strftime('%d/%m/%Y') %></td>
      </tr>
    <% end %>
    </table>
    
    <% if @os.exige_acao_do_funcionario? %>
    
      <% if @os.estado == Os::ESTADO_1 || @os.estado == Os::ESTADO_3 %>
        <%  value = Acao::SUBMETER_LAYOUT
            confirm_message = 'Você tem certeza que deseja submeter o Layout para Aprovação?' 
            button_class = "btn-info btn-mini"
            class_icon = "icon-envelope icon-white"  %>
      <% elsif @os.estado == Os::ESTADO_4 %>
        <%  value = Acao::FINALIZAR_EXECUCAO
            confirm_message = 'Você tem certeza que deseja finalizar a execução desta O.S.?'
            button_class = "btn-danger btn-mini"
            class_icon = "icon-fire icon-white" %>
      <% end %>
      
      <%= simple_form_for(:acao, :url => acao_func_os_path(@os), :html => {:class => "form-vertical"}) do |f| %>
         <div class="form-actions">
            <%= f.input :acao_realizada, :as => :hidden, :input_html => { :value => value, :id => "acao_realizada" } %>
            <%= button_tag(type: 'submit', data: { confirm: "#{confirm_message}" }, class: "btn #{button_class} span1 acao_button", onclick: "$('#acao_realizada').val(#{value});") do %>
              <i class="<%= "#{class_icon}" %>"></i>
              <%= Acao::ACOES[value] %>
            <% end %>
            
            <%= f.input :comentario, :label => "Comentário: ", :as => :text, :required => false %>
        </div>
        
      <% end %>
      
    <% end %>
  </div> 
</div> 

<%= link_to func_oss_path, :class => "btn btn-inverse" do %>
  <i class=" icon-chevron-left icon-white"></i>
  <%= "Voltar" %>
<% end %>
