<%= simple_form_for(@os, :html => {:class => "form-horizontal", :multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :cliente, :label_method => :nome, :label => "Cliente: " %>
    <% @os.previsao_entrega = Date.today + 2 if @os.previsao_entrega.nil? %>
    <%= f.input :previsao_entrega, :as => :string, :input_html => {:value => @os.previsao_entrega.strftime('%d/%m/%Y'), :class =>"datepicker"}, :label => "Previsão de Entrega: " %>
    <%= f.input :aprovado_por, :collection => Os::APROVADORES, :label => "Aprovado por: ", :prompt => "Selecione" %>
    <%= f.input :observacao, :label => "Obeservação: " %>
    <% disabled = !(current_funcionario.has_role? :administrador) %>
    <%= f.input :estado, :collection => Os::ESTADOS.invert, :label => "Estado: ", :include_blank => false, :disabled => disabled %>
    
    <div class="control-group select required os_rascunho">
      <label class="select required control-label" for="os_rascunho">Rascunho:</label>
        <div class="controls">
        <%= f.file_field :rascunho, :title => "Anexar arquivo" %>      
        </div>
    </div>
    
    <div class="control-group select required os_layout">
      <label class="select required control-label" for="os_layout">Layout:</label>
        <div class="controls">
        <%= f.file_field :layout, :title => "Anexar arquivo" %>
        </div>
    </div>
    
    <div class="control-group select required os_layout">
      <label class="select required control-label" for="os_layout">Arquivo:</label>
        <div class="controls">
        <%= f.file_field :arquivo, :title => "Anexar arquivo" %>
        </div>
    </div>

    <h4>Produtos</h4>
    <hr>
    <div class="produtos">
      <%= link_to_function "Adicionar", "adiciona_item(this)", :class => "btn btn-primary" %>
      <%= f.simple_fields_for :itens do |builder| %>
        <%= render :partial => 'form_itens', :locals => {:p => builder} %>
      <% end %>
    </div>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Criar O.S.", :class => "btn btn-primary" if params[:action] == "new" || params[:action] == "create" %>
    <%= f.button :submit, "Atualizar O.S.", :class => "btn btn-primary" if params[:action] == "edit" || params[:action] == "update" %>
    <%= link_to 'Cancelar', oss_path, :class => "btn btn-inverse" %>
  </div>
<% end %>
