<div class="item">
  <%= p.association :produto, :label_method => :nome, :label => "Produto: " %>
  <%= p.input :tipo, :collection => Item::TIPOS, :label => "Tipo: ", :prompt => "Selecione" %>
  <%= p.input :quantidade, :label => "Quantidade: ", :input_html => {:value => "1"} %>
  <%= p.input :altura, :as => :string, :label => "Altura: ", :hint => "Em centimetros" %>
  <%= p.input :comprimento, :as => :string, :label => "Comprimento: ", :hint => "Em centimetros" %>
  <%= p.input :descricao, :label => "Descrição: " %>
  <%= p.input :_destroy, :as => :hidden %>
  <%= link_to_function "Remover", "remove_campo(this)", :class => "btn btn-danger remover" %>
</div>