<div class="row">
    <div class="span10">
        <h1>Ordens de Serviço</h1>        
    </div>
    <div class="span2">
        <%= link_to new_os_path, :class => "btn btn-primary btn-novo" do %>
            <i class="icon-plus icon-white"></i>
            <b><%= "O.S." %></b>
        <% end %>
    </div>
</div>

<%= simple_form_for("", :html => {:method => "get", :class => "form-inline form-filtro", :multipart => true}) do |f| %>
    <%= f.input :by_id, :label => "Código: ", :input_html => {:class => "span1"}, :required => false, :wrapper_html => {:class => "span1"} %>
    <%= f.input :by_cliente, :label => "Cliente: ", :required => false, :wrapper_html => {:class => "span3"} %>
    <%= f.input :by_previsao_entrega, :label => "Previsão de Entrega: ", :input_html => {:class => "datepicker span2"}, :required => false, :wrapper_html => {:class => "span2"} %>
    <%= f.input :by_esta_pago, :label => "Pagamento: ", :collection => {"Pendente" => 0, "OK" => 1}, :required => false, :wrapper_html => {:class => "span2"}, :input_html => {:class => "span2"} %>
    <%= f.button :submit, "Filtrar", :class => "btn submit" %>
    <div style="clear:both;"></div>
<% end %>

<table class="table table-striped table-bordered">
  <tr>
    <th><%= sortable "id", "Código" %></th>
    <th><%= sortable "cliente_id", "Cliente" %></th>
    <th><%= sortable "previsao_entrega", "Previsão entrega" %></th>
    <th>Valor total</th>
    <th><%= sortable "estado" %></th>
    <th>Pagamento</th>
    <th></th>
    <th class="sem-borda-esquerda">Ações</th>
    <th class="sem-borda-esquerda"></th>
  </tr>

<% @oss.each do |os| %>
  <tr>
    <td><%= os.id %></td>
    <td><%= os.cliente.nome %></td>
    <td><%= os.previsao_entrega %></td>
    <td><%= number_to_currency os.valor_final %></td>
    <td><%= Os::ESTADOS[os.estado] %></td>
    <td><% if os.esta_pago %>
          <span class="label label-success">OK</span>
          <% else %>
          <span class="label label-warning">Pendente</span>
          <% end %></td>
    <td class="botao-acao primeiro-botao">
        <%= link_to os, :class => "btn btn-mini" do %>
        <i class="icon-eye-open"></i>
        <%= "Mostrar" %>
        <% end %>
    </td>
    <td class="botao-acao sem-borda-esquerda">
        <%= link_to edit_os_path(os), :class => "btn btn-info btn-mini" do %>
        <i class="icon-pencil icon-white"></i>
        <%= "Editar" %>
        <% end %>
    </td>
    <td class="botao-acao sem-borda-esquerda">
        <%= link_to os, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir esta O.S.?' }, :class => "btn btn-danger btn-mini" do %>
        <i class="icon-trash icon-white"></i>
        <%= "Excluir" %>
        <% end %>
    </td>
  </tr>
<% end %>
</table>
<div class="span12">
    <%= paginate @oss %>
</div>
<br />
