<div class="row">
  <div class="span12 thumbnail os">
  <div class="page-header row">
    <h3 class="span10">Ordem de Serviço: <%= @os.id %></h3>
  </div>

  <div class="row">
    <p class="span4">
      <b>Data de Criação:</b>
      <%= @os.created_at.strftime('%d/%m/%Y') %>
    </p>
    
    <p class="span4">
      <b>Previsão de entrega:</b>
      <%= @os.previsao_entrega.strftime('%d/%m/%Y') %>
    </p>
    
    <p class="span4">
      <b>Data de entrega:</b>
      <%= @os.data_entrega.strftime('%d/%m/%Y') unless @os.data_entrega.nil?  %>
    </p>
  </div>

  <div class="row">
    <p class="span6">
      <b>Estado:</b>
      <%= Os::ESTADOS[@os.estado] %>
    </p> 
  </div>

  <p>
    <b>Observação:</b>
    <%= @os.observacao %>
  </p>

  <div class="row ">
    <div class="span12 cliente">
      <div class="row">
        <div class="span12">
          <p>
            <b>Cliente:</b>
            <%= @os.cliente.nome %>
          </p>  
          <p>
            <b>E-mail:</b>
            <%= @os.cliente.email %>
          </p> 
        </div> 
      </div>
      <div class="row">
        <div class="span6">
           <p>
            <b>Telfone:</b>
            <%= @os.cliente.telefone %>
          </p>
        </div>
        <div class="span5">
           <p>
            <b>Celular:</b>
            <%= @os.cliente.celular %>
          </p>
        </div>
      </div>
      
    </div>
  </div>


  <h4>Produtos</h4>

  <table class="table table-striped">
    <tr>
      <th>Quant.</th>
      <th>Produto</th>
      <th>Altura</th>
      <th>Comp.</th>
      <th>Descrição</th>
      <th>Valor Unitário</th>
      <th>Acréscimo</th>
      <th>Desconto</th>
      <th>Subtotal</th>
    </tr>
  <% @os.itens.each do |item| %>
    <tr>
      <td><%= item.quantidade %></td>
      <td><%= item.produto.nome %></td>
      <td><%= item.altura %></td>
      <td><%= item.comprimento %></td>
      <td><%= item.descricao %></td>
      <td><%= number_to_currency item.valor_unitario %></td>
      <td><%= number_to_currency item.acrescimo %></td>
      <td><%= number_to_currency item.desconto %></td>
      <td><%= number_to_currency item.subtotal_com_desconto %></td>
    </tr>
  <% end %>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><b>Total: </b></td>
      <td><%= number_to_currency @os.acrescimo_total %></td>
      <td><%= number_to_currency @os.desconto_total %></td>
      <td><%= number_to_currency @os.valor_final %></td>
    </tr>
  </table>

  <div class="row">
    <h4 class="span3">Pagamentos</h4>
    <div class="span2 offset7">
      <%= link_to new_os_pagamento_path(@os), :class => "btn btn-mini btn-primary", :style => "float: right" do %>
        <i class="icon-plus icon-white"></i>
        <b><%= "Pagamento" %></b>
      <% end %>
    </div>
  </div>

  <table class="table table-striped">
    <tr>
      <th>Data Prevista</th>
      <th>Data Realizada</th>
      <th>Forma de Pagamento</th>
      <th>Valor</th>
      <th>Pagamento</th>
      <th></th>
      <th>Ações</th>
      <th></th>
    </tr>
  <% @os.pagamentos.each do |pagamento| %>
    <tr>
      <td><%= pagamento.data_prevista.strftime('%d/%m/%Y') %></td>
      <td><%= pagamento.data_realizada.strftime('%d/%m/%Y') unless pagamento.data_realizada.nil? %></td>
      <td><%= pagamento.forma_de_pagamento %></td>
      <td><%= number_to_currency pagamento.valor %></td>
      <% if pagamento.esta_pago %>
        <td>
          <span class="label label-success">OK</span>
        </td>
        <td></td>
        <td style="width: 60px;">
          <%= link_to edit_os_pagamento_path(@os, pagamento), :class => "btn btn-info btn-mini" do %>
            <i class="icon-pencil icon-white"></i>
            <%= "Editar" %>
          <% end %>
        </td>
        <td style="width: 65px;">
          <%= link_to pagamento, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este Pagamento?' }, :class => "btn btn-danger btn-mini" do %>
            <i class="icon-trash icon-white"></i>
            <%= "Excluir" %>
          <% end %>
        </td>
      <% else %>
        <td>
          <span class="label label-warning">Pendente</span>
        </td>
        <td style="width: 80px;">
          <%= link_to confirmar_pagamento_path(pagamento), data: { confirm: "Você tem certeza que deseja confirmar este pagamento?" }, class: "btn btn-inverse btn-mini" do %>
            <i class="icon-ok icon-white"></i>
            <%= "Confirmar" %>
          <% end %>
        </td>
        <td style="width: 60px;">
          <%= link_to edit_os_pagamento_path(@os, pagamento), :class => "btn btn-info btn-mini" do %>
            <i class="icon-pencil icon-white"></i>
            <%= "Editar" %>
          <% end %>
        </td>
        <td style="width: 65px;">
          <%= link_to pagamento, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este Pagamento?' }, :class => "btn btn-danger btn-mini" do %>
            <i class="icon-trash icon-white"></i>
            <%= "Excluir" %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
    <tr>
      <td></td>
      <td></td>
      <td><b>Total: </b></td>
      <td><%= number_to_currency @os.valor_total_pagamentos %></td>
      <td><%= number_to_currency @os.valor_pago %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <p>
    <b>Desconto Total:</b>
    <%= number_to_currency @os.desconto_total %>
  </p>

  <p>
    <b>Valor total:</b>
    <%= number_to_currency @os.valor_final %>
  </p>

  <p>
    <b>Valor restante:</b>
    <%= number_to_currency @os.valor_restante %>
  </p>
  
  </div>
  
  
  <div class="span12 os thumbnail">
    <div class="page-header">
      <h4>Anexos</h4>
    </div>

    <table class="table table-striped">
      <tr>
        <th>Miniatura</th>
        <th>Tipo</th>
        <th>Extenção</th>
        <th>Tamanho</th>
        <th>Ações</th>
        <th></th>
      </tr>
      <% unless @os.rascunho.blank? %>
        <tr>
          <td><%= image_tag @os.rascunho.url(:thumb), :class => "img-ronded" %></td>
          <td>Rascunho</td>
          <td><%= Os::EXTENSIONS[@os.rascunho.content_type] %></td>
          <td><%= "#{(@os.rascunho.size.to_f/1024).round 2} kB" %></td>
          <td>
            <%= link_to "javascript:void(0)", :class => "btn btn-primary btn-mini", :onclick => "vizualizar('rascunho-img')" do %>
              <i class="icon-search icon-white"></i>
              <%= "Vizualizar" %>
            <% end %>
          </td>
          <td>
            <%= link_to "#{@os.rascunho.url}", :download => "rascunho", :class => "btn btn-inverse btn-mini" do %>
              <i class="icon-download-alt icon-white"></i>
              <%= "Download" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      
      <% unless @os.layout.blank? %>
        <tr>
          <td><%= image_tag @os.layout.url(:thumb), :class => "img-ronded" %></td>
          <td>Layout</td>
          <td><%= Os::EXTENSIONS[@os.layout.content_type] %></td>
          <td><%= "#{(@os.layout.size.to_f/1024).round 2} kB" %></td>
          <td style="width: 76px;">
            <%= link_to "javascript:void(0)", :class => "btn btn-primary btn-mini", :onclick => "vizualizar('layout-img')" do %>
              <i class="icon-search icon-white"></i>
              <%= "Vizualizar" %>
            <% end %>
          </td>
          <td style="width: 80px;">
            <%= link_to "#{@os.layout.url}", :download => "layout", :class => "btn btn-inverse btn-mini" do %>
              <i class="icon-download-alt icon-white"></i>
              <%= "Download" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      
      <% unless @os.arquivo.blank? %>
        <tr>
          <td><%= image_tag image_path('page.png') %></td>
          <td>Arquivo</td>
          <td><%= Os::EXTENSIONS[@os.arquivo.content_type] %></td>
          <td><%= "#{(@os.arquivo.size.to_f/1024).round 2} kB" %></td>
          <td>
          </td>
          <td>
            <%= link_to "#{@os.arquivo.url}", :download => "arquivo", :class => "btn btn-inverse btn-mini" do %>
              <i class="icon-download-alt icon-white"></i>
              <%= "Download" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <div id="canvas-img">
      <%= image_tag @os.rascunho.url(:medium), :id => "rascunho-img", :style => "display:none;" %>
      <%= image_tag @os.layout.url(:medium), :id => "layout-img", :style => "display:none;" %>
    </div>
  </div>
  
  
  
  <div class="span12 os thumbnail">
    <div class="page-header">
      <h4>Ações</h4>
    </div>

    <table class="table table-striped">
      <tr>
        <th>Agente</th>
        <th>Ação</th>
        <th>Comentário</th>
        <th>Data</th>
        <th>Horário</th>
      </tr>
    <% @os.acoes.each do |acao| %>
      <tr>
        <% unless acao.funcionario.nil? %>
          <td><%= "#{acao.funcionario.nome}" %></td>
        <% else %>
          <td><%= "Cliente #{acao.cliente.nome}" %></td>
        <% end %>
        <td><%= Acao::ACOES[acao.acao] %></td>
        <td><%= acao.comentario %></td>
        <td><%= acao.created_at.strftime('%d/%m/%Y') %></td>
        <td><%= acao.created_at.strftime('%k:%Mh') %></td>
      </tr>
    <% end %>
    </table>
    
    <% if @os.exige_acao_da_gerencia? %>
      <% if (current_funcionario.has_role? :administrador) || (current_funcionario.has_role? :gerente) || ((current_funcionario.has_role? :atendente) && (@os.estado == Os::ESTADO_5 || @os.estado == Os::ESTADO_6)) %>
        <% if @os.estado == Os::ESTADO_0 %>
          <%  value = Acao::APROVAR_EXECUCAO
              confirm_message = 'Você tem certeza que deseja Aprovar a execução desta Ordem de Serviço?' 
              button_class = "btn-success btn-mini"
              class_icon = "icon-ok icon-white"  %>
        <% elsif @os.estado == Os::ESTADO_2 %>
          <%  value = Acao::REPROVAR_LAYOUT
              confirm_message = 'Você tem certeza que deseja Reprovar o Layout desta Ordem de Serviço?'
              button_class = "btn-danger btn-mini"
              class_icon = "icon-thumbs-down icon-white" %>
        <% elsif @os.estado == Os::ESTADO_5 %>
          <%  value = Acao::FINALIZAR_OS
              confirm_message = 'Você tem certeza que deseja finalizar esta Ordem de Serviço?'
              button_class = "btn-danger btn-mini"
              class_icon = "icon-flag icon-white" %>
        <% elsif @os.estado == Os::ESTADO_6 %>
          <%  value = Acao::ENTREGAR_OS
              confirm_message = 'Você tem certeza que deseja marcar esta Ordem de Serviço como entregue?' 
              button_class = "btn btn-info btn-mini"
              class_icon = "icon-share icon-white" %>
        <% end %>
        
        
        <%= simple_form_for(:acao, :url => acao_os_path(@os), :html => {:class => "form-vertical"}) do |f| %>
           <div class="form-actions">
              <%= f.input :acao_realizada, :as => :hidden, :input_html => { :value => value, :id => "acao_realizada" } %>
              <%= button_tag(type: 'submit', data: { confirm: "#{confirm_message}" }, class: "btn #{button_class} span1 acao_button", onclick: "$('#acao_realizada').val(#{value});") do %>
                <i class="<%= "#{class_icon}" %>"></i>
                <%= Acao::ACOES[value] %>
              <% end %>

              <% if @os.estado == Os::ESTADO_2 %>
                <%= button_tag(type: 'submit', data: { confirm: "Você tem certeza que deseja Aprovar o Layout desta Ordem de Serviço?" }, class: "btn btn-success btn-mini span1 acao_button", onclick: "$('#acao_realizada').val(#{Acao::APROVAR_LAYOUT});") do %>
                  <i class="icon-ok icon-white"></i>
                  <%= Acao::ACOES[Acao::APROVAR_LAYOUT] %>
                <% end %>
              <% end %>
              
              <%= f.input :comentario, :label => "Comentário: ", :as => :text, :required => false %>
          </div>
          
        <% end %>
      <% else %>
        <div class="alert alert-info" style="width: 890px;">
          <span class="badge badge-info">!</span>
          <strong>Atenção!</strong> Esta Ordem de Serviço está esperando uma ação da gerencia.
        </div>
      <% end %>
    <% end %>
  </div>
  
</div>


<%= link_to edit_os_path(@os), :class => "btn btn-info" do %>
  <i class="icon-pencil icon-white"></i>
  <%= "Editar" %>
<% end %>

<%= link_to oss_path, :class => "btn btn-inverse" do %>
  <i class=" icon-chevron-left icon-white"></i>
  <%= "Voltar" %>
<% end %>
