<div class="row">
  <div class="span12 thumbnail os">
  <div class="page-header row">
    <h3 class="span10">Ordem de Serviço: <%= @os.id %></h3>
  </div>

  <div class="row">
    <p class="span6">
      <b>Data de Criação:</b>
      <%= @os.created_at.strftime('%d/%m/%Y') %>
    </p>

    <p class="span6">
      <b>Previsão de entrega:</b>
      <%= @os.previsao_entrega.strftime('%d/%m/%Y') %>
    </p>
  </div>

  <div class="row">
    <p class="span6">
      <b>Estado:</b>
      <%= Os::ESTADOS[@os.estado] %>
    </p> 
  </div>


  <p>
    <b>Arquivo:</b>
    <%= @os.arquivo %>
  </p>


  <p>
    <b>Observação:</b>
    <%= @os.observacao %>
  </p>

  <div class="row ">
    <div class="span12 cliente">
      <div class="row">
        <div class="span12">
          <p>
            <b>Cliente:</b>
            <%= @os.cliente.nome %>
          </p>  
          <p>
            <b>E-mail:</b>
            <%= @os.cliente.email %>
          </p> 
        </div> 
      </div>
      <div class="row">
        <div class="span6">
           <p>
            <b>Telfone:</b>
            <%= @os.cliente.telefone %>
          </p>
        </div>
        <div class="span5">
           <p>
            <b>Celular:</b>
            <%= @os.cliente.celular %>
          </p>
        </div>
      </div>
      
    </div>
  </div>


  <h4>Produtos</h4>

  <table class="table table-striped">
    <tr>
      <th>Quantidade</th>
      <th>Produto</th>
      <th>Altura</th>
      <th>Comprimento</th>
      <th>Descrição</th>
      <th>Valor Unitário</th>
      <th>Subtotal</th>
    </tr>
  <% total = 0 %>
  <% @os.itens.each do |item| %>
    <tr>
      <td><%= item.quantidade %></td>
      <td><%= item.produto.nome %></td>
      <td><%= item.altura*100 %></td>
      <td><%= item.comprimento*100 %></td>
      <td><%= item.descricao %></td>
      <td><%= number_to_currency item.produto.preco_unitario %></td>
      <td><%= number_to_currency item.subtotal %></td>
    </tr>
    <% total += item.subtotal %>
  <% end %>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><b>Total: </b></td>
      <td><%= number_to_currency total %></td>
    </tr>
  </table>

  <h4>Pagamentos</h4>

  <table class="table table-striped">
    <tr>
      <th>Data</th>
      <th>Forma de Pagamento</th>
      <th>Valor</th>
    </tr>
  <% total = 0 %>
  <% @os.pagamentos.each do |pagamento| %>
    <tr>
      <td><%= pagamento.created_at.strftime('%d/%m/%Y') %></td>
      <td><%= pagamento.forma_de_pagamento %></td>
      <td><%= number_to_currency pagamento.valor %></td>
      <% total += pagamento.valor %>
    </tr>
  <% end %>
    <tr>
      <td></td>
      <td><b>Total: </b></td>
      <td><%= number_to_currency total %></td>
    </tr>
  </table>

  <p>
    <b>Desconto:</b>
    <%= number_to_currency @os.desconto %>
  </p>

  <p>
    <b>Valor total:</b>
    <%= number_to_currency @os.valor_total %>
  </p>

  <p>
    <b>Valor restante:</b>
    <%= number_to_currency @os.valor_restante %>
  </p>
  
  
  
  <h4>Ações</h4>

  <table class="table table-striped">
    <tr>
      <th>Agente</th>
      <th>Ação</th>
      <th>Comentário</th>
      <th>Data</th>
    </tr>
  <% @os.acoes.each do |acao| %>
    <tr>
      <% unless acao.funcionario.nil? %>
        <td><%= "Func. #{acao.funcionario.nome}" %></td>
      <% else %>
        <td><%= "Cliente #{acao.cliente.nome}" %></td>
      <% end %>
      <td><%= Acao::ACOES[acao.acao] %></td>
      <td><%= acao.comentario %></td>
      <td><%= acao.created_at.strftime('%d/%m/%Y') %></td>
    </tr>
  <% end %>
  </table>
  
  <% if @os.exige_acao_da_gerencia? %>
  
    <% if @os.estado == Os::ESTADO_0 %>
      <%  value = Acao::APROVAR_EXECUCAO
          confirm_message = 'Você tem certeza que deseja Aprovar a execução desta Ordem de Serviço?' 
          button_class = "btn-success btn-mini"
          class_icon = "icon-ok icon-white"  %>
    <% elsif @os.estado == Os::ESTADO_2 %>
      <%  value = Acao::REPROVAR_LAYOUT
          confirm_message = 'Você tem certeza que deseja Reprovar o Layout desta Ordem de Serviço?'
          button_class = "btn-danger btn-mini"
          class_icon = "icon-thumbs-down icon-white" %>
    <% elsif @os.estado == Os::ESTADO_5 %>
      <%  value = Acao::FINALIZAR_OS
          confirm_message = 'Você tem certeza que deseja finalizar esta Ordem de Serviço?'
          button_class = "btn-danger btn-mini"
          class_icon = "icon-flag icon-white" %>
    <% elsif @os.estado == Os::ESTADO_6 %>
      <%  value = Acao::ENTREGAR_OS
          confirm_message = 'Você tem certeza que deseja marcar esta Ordem de Serviço como entregue?' 
          button_class = "btn btn-info btn-mini"
          class_icon = "icon-share icon-white" %>
    <% end %>
    
    
    <%= simple_form_for(:acao, :url => acao_os_path(@os), :html => {:class => "form-vertical"}) do |f| %>
       <div class="form-actions">
          <%= f.input :acao_realizada, :as => :hidden, :input_html => { :value => value, :id => "acao_realizada" } %>
          <%= button_tag(type: 'submit', data: { confirm: "#{confirm_message}" }, class: "btn #{button_class} span1 acao_button", onclick: "$('#acao_realizada').val(#{value});") do %>
            <i class="<%= "#{class_icon}" %>"></i>
            <%= Acao::ACOES[value] %>
          <% end %>

          <% if @os.estado == Os::ESTADO_2 %>
            <%= button_tag(type: 'submit', data: { confirm: "Você tem certeza que deseja Aprovar o Layout desta Ordem de Serviço?" }, class: "btn btn-success btn-mini span1 acao_button", onclick: "$('#acao_realizada').val(#{Acao::APROVAR_LAYOUT});") do %>
              <i class="icon-ok icon-white"></i>
              <%= Acao::ACOES[Acao::APROVAR_LAYOUT] %>
            <% end %>
          <% end %>
          
          <%= f.input :comentario, :label => "Comentário: ", :as => :text, :required => false %>
      </div>
      
    <% end %>
    
  <% end %>
  
  
  
  
  
  
  
  
  
  
  
  
  
  </div>
</div>

<%= link_to edit_os_path(@os), :class => "btn btn-info" do %>
  <i class="icon-pencil icon-white"></i>
  <%= "Editar" %>
<% end %>

<%= link_to oss_path, :class => "btn btn-inverse" do %>
  <i class=" icon-chevron-left icon-white"></i>
  <%= "Voltar" %>
<% end %>