<div class="row">
    <div class="span10">
        <h1>Pagamentos</h1>
    </div>
    <% if can? :create, Pagamento %>
      <div class="span2">
          <%= link_to new_pagamento_path, :class => "btn btn-primary btn-novo" do %>
              <i class="icon-plus icon-white"></i>
              <b><%= "Pagamento" %></b>
          <% end %>
      </div>
    <% end %>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th>Código O.S.</th>
    <th>Cliente</th>
    <th>Data Prevista</th>
    <th>Forma de pagamento</th>
    <th>Valor</th>
    <th>Pagamento</th>
    <th>Ações</th>
    <% if can? :update, Pagamento %>
      <th class="sem-borda-esquerda"></th>
    <% end %>
    <% if can? :destroy, Pagamento %>
      <th class="sem-borda-esquerda"></th>
    <% end %>
  </tr>

<% @pagamentos.each do |pagamento| %>
  <tr>
    <td><%= pagamento.os_id %></td>
    <td><%= pagamento.cliente.nome %></td>
    <td><%=pagamento.data_prevista.strftime("%d/%m/%Y") %></td>
    <td><%= pagamento.forma_de_pagamento %></td>
    <td><%= number_to_currency pagamento.valor %></td>
    <td><% if pagamento.esta_pago %>
          <span class="label label-success">OK</span>
          <% else %>
          <span class="label label-warning">Pendente</span>
          <% end %></td>
    <td class="botao-acao primeiro-botao">
        <%= link_to pagamento, :class => "btn btn-mini" do %>
        <i class="icon-eye-open"></i>
        <%= "Mostrar" %>
        <% end %>
    </td>
    
    <% if can? :update, Pagamento %>
      <td class="botao-acao sem-borda-esquerda">
          <%= link_to edit_pagamento_path(pagamento), :class => "btn btn-info btn-mini" do %>
          <i class="icon-pencil icon-white"></i>
          <%= "Editar" %>
          <% end %>
      </td>
    <% end %>
    
    <% if can? :destroy, Pagamento %>
      <td class="botao-acao sem-borda-esquerda">
          <%= link_to pagamento, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este Pagamento?' }, :class => "btn btn-danger btn-mini" do %>
          <i class="icon-trash icon-white"></i>
          <%= "Excluir" %>
          <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
<div class="span12">
    <%= paginate @pagamentos %>
</div>
<br />

