<div class="thumbnail box">
  <div class="page-header row">
    <h3 class="span12">Cliente</h3>
  </div>
  <p>
    <b>Valor:</b>
    <%= @pagamento.valor %>
  </p>

  <p>
    <b>Forma de pagamento:</b>
    <%= @pagamento.forma_de_pagamento %>
  </p>

</div>

<%= link_to edit_pagamento_path(@pagamento), :class => "btn btn-info" do %>
  <i class="icon-pencil icon-white"></i>
  <%= "Editar" %>
<% end %>

<%= link_to pagamentos_path, :class => "btn btn-inverse" do %>
  <i class=" icon-chevron-left icon-white"></i>
  <%= "Voltar" %>
<% end %>