<!DOCTYPE html>
<html>
<head>
  <title>Logos Inov</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<% nome_controller = params[:controller].gsub(/[^a-z0-9]/i, "-") %>
<body class="<%= "#{nome_controller}-controller" %>">
  
  <% unless nome_controller.include? "devise" %>
    <%= render "layouts/menu" %>
  <% end %>
  
  <% nome_action = params[:action].gsub(/[^a-z0-9]/i, "-") %>
  <div class="<%= "#{nome_action}-action" %> container" style="padding-top: 60px; padding-bottom: 60px;">
    
    <%= render "layouts/mensagens" %>
    
    <%= yield %>
  </div>

</body>
</html>
